---
import Layout from "../../layouts/Layout.astro";
import UploadForm from "../../components/UploadForm.svelte";
import PasswordProtected from "../../components/PasswordProtected.svelte";
---

<Layout title="New Recipe">
  <main
    class="relative gap-4 p-4 h-screen w-screen max-w-lg sm:max-w-xl mx-auto flex flex-col"
  >
    <a class="text-orange-700 absolute left-0" href="/">back home</a>
    <h1 class="text-center header text-green-700 mb-4 font-display text-4xl">
      Upload a new recipe
    </h1>
    <PasswordProtected client:load>
      <UploadForm />
    </PasswordProtected>
  </main>
</Layout>

<style>
  .header {
    text-shadow: 2px 2px 0px hsl(0deg 0% 0% / 20%);
  }
</style>
