---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import Search from "../components/Search.svelte";

const recipes = await getCollection("recipes");
---

<Layout title="Schimke Family Recipes">
  <main
    class="h-screen w-screenmax-w-lg sm:max-w-xl mx-auto grid place-content-center"
  >
    <h1 class="header text-green-700 mb-4 font-display text-4xl">
      Schimke Family Recipes
    </h1>
    <a
      href="/new-recipe"
      class="w-full p-2 bg-orange-200 border-orange-400 border-4 mt-2 mb-6 text-lg rounded-md"
      >Upload a recipe!</a
    >
    <Search client:load searchContent={recipes} />
  </main>
</Layout>

<style>
  .header {
    text-shadow: 2px 2px 0px hsl(0deg 0% 0% / 20%);
  }
</style>
