---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
---

<Layout title="Schimke Family Recipes">
  <main class="max-w-lg sm:max-w-xl mx-auto flex flex-col items-center">
    <h1 class="font-display text-3xl">Schimke Family Recipes</h1>
    <form>
      <input type="text" name="search" placeholder="Search recipes" />
      <button>Search</button>
    </form>
  </main>
</Layout>
